.dot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px; 
}

.dot {
  width: 6px; 
  height: 6px;
  border-radius: 50%;
}


.custom-calendar .react-calendar {
  margin-bottom: 20px; 
  background-color: #017a5d; 
}

.custom-calendar .react-calendar {
  border: none;
  border-radius: 10px;
}
.custom-calendar .react-calendar__tile,
.custom-calendar .react-calendar__month-view,
.custom-calendar .react-calendar__year-view,
.custom-calendar .react-calendar__decade-view,
.custom-calendar .react-calendar__century-view {
  background-color: #017a5d;
  border-radius: 10px;
  color: #e0efeb;
}

.custom-calendar .react-calendar__navigation button {
  color: #e0efeb;
  background-color: #017a5d;
  border-radius: 10px;
}

.has-tasks .react-calendar__tile {
  background-color: #017a5d;
}

.text-custom-title-time {
  color: black;
}

.text-custom-title {
  color: black;
}


.custom-calendar .react-calendar__navigation button:active,
.custom-calendar .react-calendar__navigation button:focus {
  background-color: #017a5d;
}
.custom-calendar .react-calendar__century-view button:active,
.custom-calendar .react-calendar__century-view button:focus{
  background-color: #017a5d;
}
.custom-calendar .react-calendar__decade-view button:active,
.custom-calendar .react-calendar__decade-view button:focus{
  background-color: #017a5d;
}





